#charDiv {
    position: absolute;
    width: 28%;
    bottom: 55px;
    left: 431px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#bossDiv {
    position: absolute;
    width: 28%;
    bottom: 53px;
    left: 131px;
}
#bossMoney {
    position: absolute;
    width: 100%;
    bottom: 53px;
    left: 30px;
}
#backGround {
	position: relative;
}
#monsterTwo {
    position: relative;
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 55%;
    left: 30px;
}
#statDiv {
	position: relative;
	top: 20px;
}

.crystalStyle {
    position: relative;
    bottom: 55px;
    left: 20px;
}

.divClass2 {
    background-color: #d0ffe9;
    width: 62.6%;
    left: 9px;
}

#footerStyle {
    border-top: #c4ead9;
}

.img1 {
    width: 50%;
}